body{
	background: #CCCCCC;
	margin: 10px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #555555;
}

*{
	margin: 0;
	padding: 0;
}

/** defaults **/

table{
	text-align: left;
}

th, td{
	padding: 0px 0px;
}

th{
	color: #fff;
	background-color: #999;
}

td{
	background: #fff;
}

p{
	line-height: 1.9em;
	margin-bottom: 20px;
}

a{
	color: #0066FF;
}

a:hover{
	color: #333333;
}

a:focus{
	outline: none;
}

h1{
	color: #999;
	font-size: 35px;
}

#container{
	width: 979px;
	margin: 0px auto;
	padding: 0;
}
#body{
	padding: 20px 20px;
	border: 1px solid #999;
	border-radius: 5px;
	-moz-box-shadow: 0 0 40px #999;
	-webkit-box-shadow: 0 0 40px #999;
	box-shadow: 0 0 40px #999;
}
#content{
	float: left;
	width: 650px;
}